body{
    margin: 0px;
    padding: 0px;
}
nav{
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 1;
    box-shadow: 1px 4px 10px lightgrey;
}
.upper{
    height: 30px;
    background-color: rgb(20,189,238);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    /* top: opx; */
}
.upperleft{
    display: flex;
    flex-direction: row;
    gap:15px;
    margin-left: 5px;

}
.upperright{
    display: flex;
margin-left: 400px;
height:30px ;
background-color: aliceblue;
display: flex;
align-items: center;
width: 200px;
justify-content: center;
}
a{
    color: aliceblue;
    text-decoration: none;
}
.upperright a{
    color: black;
}
.lowerright a{
    color: black;
}
.hom a{
    color: rgb(20,189,238);
    text-decoration:underline;
}
.lower{
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* position: fixed; */
    /* top:30px; */
}
.lowerleft1{
    font-size:40px; 
    margin-left: 90px;
}
.lowerleft2{
    font-size: 40px;
    color: rgb(20,189,238);
}


.lowerright{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-left:300px;
    gap: 40px;
}
.image3{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: red;
}
.image4{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: red;
}
.center{
    height:700px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: url(../pics/img6.jpg);
background-repeat: no-repeat;
background-size:cover;
}
.center1{
    font-size: 70px;
    margin-bottom: 20px;
}
.center2{
    font-size: 30px;
    margin-bottom:20px;
    color: grey;
}
.center3{
    display: flex;
    align-items: row;
    height: 50px;
    width: 700px;
    background-color: white;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

}
.center3 a{
    color: black;
}

.bc1{
display: flex;
justify-content: center;
font-size: 40px;
padding: 20px;
}
.bc2{
    display: flex;
    align-items: center;
    width: 600px;
    margin-left: 350px;
    padding: 10px;
}
.facilities{
    padding: 20px;
    gap: 50px;
    height: 400px;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pic1{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: gray;
}
.pic2{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: gray;
}
.pic3{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: grey;
}
.pic4{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: gray;
}
.one{
    width: 200px;
    gap: 10px;
  
}
.one1{
    padding:10px;
    font-size: 20px;

}
.one2{
    display: flex;
    align-items: center;
    text-align: center;
}
.two{
    width: 200px;

}
.two1{
    padding:10px;
    font-size: 20px;
}
.three{
    width: 200px;
}
.three1{
    padding:10px;
    font-size: 20px;
}

.four{
    width: 200px;

}
.four1{
    padding:10px;
    font-size: 20px;
}
.onlinecources{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(250,250,250);
    
}
.a1{
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
}
.a2{
    width: 600px;
    text-align: center;
}
.bigbox{
    height: 500px;
    background-color: rgb(250,250,250);
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    gap: 30px;
}
.smallbox1{
    /* border: 2px solid red ; */
  height: 450px;
  width:380px ;
  background-color:rgb(255,255,255); 
   }

   .bigimg1{
    height:250px;
    background-image: url(../pics/ben-white-83tkHLPgg2Q-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   }
.smallbox2{
    height: 450px;
    width:380px ;
    background-color: rgb(255,255,255);
    /* border: 2px solid red; */
  }
  .bigimg2{
    height:250px;
    background-image: url(../pics/doug-linstedt-jEEYZsaxbH4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;

  }
  .smallbox3{
    /* border: 2px solid red; */
    background-color: rgb(255,255,255);
    height: 450px;
    width:380px ;
  }

  .bigimg3{
    height:250px;
    background-image: url(../pics/friends.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .lowtextone{
    display: flex;
    flex-direction: column;
    padding: 15px;  
    gap: 10px;
  }
  .st{
    font-size: 20px;
    font-weight: 800;
  }
  .mr{
    font-weight: 500;
  }
  .bottomone{
    border: 2px solid gainsboro;
    padding: 5px;
    display: flex;
    flex-direction: row;
align-items: center;
    height: 40px;
    width: 300px;
    background-color: white;
    gap: 5px;
  }
  .aa{ 
    height:30px ;
    width: 30px;
    border-radius: 30px;
    background-color: blue;

  }
.ab{
    height:30px ;
    width: 30px;
    border-radius: 30px;
    background-color: blue;
}
.ac{
    margin-left: 30px;
    font-size: 25px;
    font-weight:700 ;
    color: aqua;
}
.dma{
    font-size: 20px;
    font-weight: 800;
}
.ms{
    font-weight: 600;
}
.ba{ 
    height:30px ;
    width: 30px;
    border-radius: 30px;
    background-color: blue;

  }
.bb{
    height:30px ;
    width: 30px;
    border-radius: 30px;
    background-color: blue;
}
.bc{
    margin-left: 30px;
    font-size: 25px;
    font-weight:700 ;
    color: aqua;
}
.lowtexttwo{
    display: flex;
    flex-direction: column;
    padding: 15px;  
    gap: 10px;
  }
  .sas{
    font-size: 20px;
    font-weight: 800;
  }
  .lowtextthree{
    display: flex;
    flex-direction: column;
    padding: 15px;  
    gap: 10px;
  }
  .ca{ 
    height:30px ;
    width: 30px;
    border-radius: 30px;
    background-color: blue;

  }
.cb{
    height:30px ;
    width: 30px;
    border-radius: 30px;
    background-color: blue;
}
.cc{
    margin-left: 30px;
    font-size: 25px;
    font-weight:700 ;
    color:  rgb(20,189,238);
}
.viewcource{
 height: 40px;
 width: 200px;
 font-size: 20px;
background-color: rgb(20,189,238);
/* margin-left: 550px; */
/* margin-top: 100px; */
display: flex;
align-items: center;
justify-content: center;

}
.outerviewcource{
    height: 100px;
    background-color: rgb(250,250,250);
    display: flex;
    align-items: center;
    justify-content: center;

}
.middle{
    height: 400px;
    background-color: rgb(65,71,91);
    display: flex;
    flex-direction: row;

}
.reg{
    font-size: 20px;

}
.belowreg{
    width: 300px;
}
.middleleft{
    width:900px;
    background-color:rgb(65,71,91);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Reg{
    font-size: 50px;
    font-weight: 600;
    color: aliceblue;
    margin-right: 310px;
}
.belowreg{
    color: aliceblue;
    width: 600px;
    gap: 5px;
    margin: 5px;
    line-height: 25px;
}
.years{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.oneyears{
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.topyear{
    color:  rgb(20,189,238);
    font-weight: 800;
    font-size: 50px;
}
.lowyear{
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.middleright{
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}  
.courcesnow{
    font-size: 30px;
    padding: 20px;
    font-weight: 500;
    /* color: aliceblue; */
}  
.form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 350px;
    gap: 20px;
    color: gray;
}
.form input{
    height: 35px;
    border: 1px solid lightgray;

}
.form select{
    height: 35px;
    border: 1px solid lightgray;

}
.form botton{
background-color:  rgb(20,189,238);
height: 35px;
width: 350px;
display: flex;
justify-content: center;
align-items: center;
color: aliceblue;
font-weight: 600;
margin-top: 30px;
}
.thirdhalf{
    height: 600px;
    background-color: rgb(240,240,240);

}
.thirdone{
    height: 100px;
    width: 700px;
    background-color: rgb(240,240,240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
}
.thebest{
    font-size: 40px;
    font-weight: 600;
    
}
.thebestone{
    font-size: 15px;
    display: flex;
    text-align: center;
}
.thirdtwo{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    display: flex;
    justify-content: center;

}
.staff{
   background-color: rgb(240,240,240);
    width: 200px;
    height: 300px;
}
.da{
    height: 180px;
    background-color: gray;
    width:100%;

}
.db{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dc{
    color: gray;
    display: flex;
    justify-content: center;
}
.dd{
    padding:5px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    height: 50px;
    width: 150;
}
.de{
height: 40px;
width: 40px;
border-radius: 40px;
background-image: url(../pics/facebooklogo.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;

}
.df{
height: 40px;
width: 40px;
border-radius: 40px; 
background-image: url(../pics/google2.jpg);
background-size: contain;
background-repeat: no-repeat;
}
.dg{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-image: url(../pics/twitter2.jpg);
background-size: contain;
background-repeat: no-repeat;
}
